pystac-client==0.9.0
planetary-computer==1.0.0
stackstac==0.5.1
rasterio==1.5.2
xarray==2026.9.0
matplotlib==3.10.0
geopandas==1.2.0
leafmap==0.63.1
ipywidgets==7.7.1
rioxarray==0.23.0
h5py==3.14.0
requests==2.32.4
numpy==2.1.3
pandas==2.2.3
scipy==1.16.2
jupyterlab==4.4.9
